@font-face {
	font-family: "Gilroy";
	src: local("Gilroy ExtraBold"), local("Gilroy-ExtraBold"),
			 url("../fonts/gilroyextrabold.woff2") format("woff2"),
			 url("../fonts/gilroyextrabold.woff") format("woff");
	font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
	font-family: "Gilroy";
	src: local("Gilroy Light"), local("Gilroy-Light"),
			 url("../fonts/gilroylight.woff2") format("woff2"),
			 url("../fonts/gilroylight.woff") format("woff");
	font-weight: 300;
  font-style: normal;
  font-display: swap;
}
