*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;

  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 300;
  font-size: $font-size-small;
  line-height: $line-height-small;
  letter-spacing: 0.05em;
  color: $body-font-color;

  background-color: #ffffff;
}

@media (min-width: $tablet-width) {
  body {
    font-size: $font-size-medium;
    line-height: $line-height-medium;
  }
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

input:not([type="checkbox"]):not([type="radio"]),
textarea,
select {
  appearance: none;
}
