$font-size-small: 14px;
$font-size-medium: 16px;
$font-size-large: 24px;
$font-size-x-large: 30px;
$line-height-small: 18px;
$line-height-medium: 24px;
$line-height-large: 28px;
$body-font-color: #141414;
$link-font-color: #f5112c;
$light-gray: #f5f5f5;
$gray: #e9e9e9;
$blue: #2429ff;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
