.button {
  display: block;
  width: 290px;
  padding-top: 18px;
  padding-right: 23px;
  padding-bottom: 20px;
  padding-left: 23px;
  margin-bottom: 20px;

  font-weight: 800;
  font-size: $font-size-small;
  line-height: $line-height-medium;
  color: #ffffff;

  background-color: $link-font-color;
  border: none;
  border-radius: 30px;
  box-shadow: 0 10px 18px rgba(246, 27, 60, 0.55);

  cursor: pointer;
}

.button:hover,
.button:focus {
  box-shadow: inset 0 2px 2px 0 #942718;
}
