.program {
  position: relative;

  margin-top: -26px;
  padding-top: 422px;
  padding-bottom: 38px;

  text-align: center;
}

.program__container {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -422px;
    left: 0;

    width: 320px;
    height: 388px;

    background-image: url("../img/decor/wave.svg"),
                      url("../img/decor/bigben-mobile.png"),
                      url("../img/decor/bagel-blue-mobile.svg"),
                      url("../img/decor/bagel-gray-mobile.svg");
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: 197px 227px, 1px 1px, 65px 64px, 45px 91px;
    background-size: 92px 13px, 267px 388px, 62px 62px, 228px 228px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/decor/wave.svg"),
                        url("../img/decor/bigben-mobile@2x.png"),
                        url("../img/decor/bagel-blue-mobile.svg"),
                        url("../img/decor/bagel-gray-mobile.svg");;
    }
  }
}

.program__title {
  padding-bottom: 16px;
  margin-bottom: 13px;
}

.program__cost {
  margin-bottom: 10px;

  font-size: $font-size-large;
  line-height: 1.2;
  color: $link-font-color;
}

.program__text {
  margin: 0;
  margin-bottom: 31px;
}

.program__list {
  display: flex;
  flex-direction: column;

  @include list-reset;
}

.program__item {
  display: flex;
  flex-direction: column;
  padding-right: 11px;
  padding-left: 11px;
}

.program__item-title {
  margin: 0;
  margin-bottom: 10px;

  font-weight: 800;
  font-size: 14px;
}

.program__item-text {
  margin: 0;
  margin-bottom: 23px;
}

@media (min-width: $tablet-width) {
  .program {
    margin-top: -10px;
    padding-top: 0;
    padding-bottom: 173px;

    text-align: left;
  }

  .program__container {
    padding-left: 144px;

    &::before {
      top: 20px;
      left: -513px;
      width: 622px;
      height: 881px;
      z-index: -1;

      background-image: url("../img/decor/wave.svg"),
                        url("../img/decor/bigben-tablet.png"),
                        url("../img/decor/bagel-blue-mobile.svg"),
                        url("../img/decor/bagel-gray-mobile.svg");
      background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
      background-position: 478px 617px, 0 1px, 180px 146px, 105px 204px;
      background-size: 145px 19px, 612px 881px, 140px 140px, 519px 519px;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/decor/wave.svg"),
                          url("../img/decor/bigben-tablet@2x.png"),
                          url("../img/decor/bagel-blue-mobile.svg"),
                          url("../img/decor/bagel-gray-mobile.svg");
      }
    }
  }

  .program__title {
    width: 470px;
    margin-bottom: 22px;
    padding-top: 51px;
    padding-right: 45px;
    padding-bottom: 28px;

    &::before {
      content: "?";
      position: absolute;
      top: -48px;
      right: -9px;

      font-size: 200px;

      opacity: 0.09;
    }
  }

  .program__title br{
    display: none;
  }

  .program__cost {
    margin-bottom: 27px;
    font-size: $font-size-x-large;
  }

  .program__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .program__item {
    width: 283px;
    padding-left: 0;
    padding-right: 0;
  }

  .program__item:nth-child(2) {
    order: 2;
  }

  .program__item:nth-child(3) {
    order: 4;
  }

  .program__item:nth-child(4) {
    order: 6;
  }

  .program__item:nth-child(5) {
    order: 1;
  }

  .program__item:nth-child(6) {
    order: 3;
  }

  .program__item:nth-child(7) {
    order: 5;
  }

  .program__item:nth-child(8) {
    order: 7;
  }

  .program__item-title {
    font-size: $font-size-small;
  }
}

@media (min-width: $desktop-width) {
  .program {
    margin-top: 0;
    padding-top: 109px;
    padding-bottom: 147px;
  }

  .program__container {
    padding-left: 404px;

    &::before {
      width: 750px;
      height: 1078px;
      top: -73px;
      left: -377px;

      background-image: url("../img/decor/wave.svg"),
                        url("../img/decor/bigben-desktop.png"),
                        url("../img/decor/bagel-blue-mobile.svg"),
                        url("../img/decor/bagel-gray-mobile.svg");
      background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
      background-position: 583px 748px, 0 1px, 167px 178px, 110px 250px;
      background-size: 145px 19px, 731px 1078px, 172px 172px, 635px 635px;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/decor/wave.svg"),
                          url("../img/decor/bigben-desktop.png"),
                          url("../img/decor/bagel-blue-mobile.svg"),
                          url("../img/decor/bagel-gray-mobile.svg");
      }
    }
  }

  .program__title {
    width: 705px;
    margin-bottom: 40px;
    padding-top: 62px;
    padding-bottom: 37px;

    &::before {
      top: -71px;
      right: -12px;

      font-size: 300px;
    }
  }

  .program__cost {
    margin-bottom: 10px;

    font-size: $font-size-xxl-large;
  }

  .program__text {
    margin-bottom: 35px;
    padding-right: 40px;
  }

  .program__item {
    width: 360px;
    margin-bottom: 4px;
  }

  .program__item-title {
    margin-bottom: 7px;

    font-size: 18px;
  }
}
