.range__bar {
  position: relative;

  width: 100%;
  height: 7px;

  background-color: #e9e9e9;
  border-radius: 3px;
}

.range__button {
  position: absolute;
  top: 0;
  left: 0;

  width: 200px;
  height: 7px;

  background-color: #f5112c;
  border: none;
  border-radius: 3px;
  box-shadow: 0 4px 10px 0 rgba(245, 17, 44, 0.58);

  cursor: pointer;
}

.range__button:hover,
.range__button:focus {
  transform: scaleY(1.3);
}
