.reasons {
  padding-top: 59px;
  padding-bottom: 59px;

  text-align: center;
}

.reasons__container {
  position: relative;

  display: flex;
  flex-direction: column;

  &::before {
    content: "";
    position: absolute;
    top: -59px;
    left: -1592px;
    z-index: -1;

    width: 3494px;
    height: 1996px;

    border-radius: 1747px / 998px;
    background-color: #f8f8f8;
  }
}

.reasons__title {
  margin-bottom: 20px;
  padding-top: 25px;
  padding-right: 45px;
  padding-left: 45px;
  padding-bottom: 40px;

  &::after {
    display: none;
  }

  &::before {
    content: "?";
    position: absolute;
    top: -42px;
    right: -9px;
    z-index: -1;

    font-size: 200px;
    color: #000000;
    opacity: 0.09;
  }
}

.reasons__list {
  display: flex;
  flex-direction: column;

  @include list-reset;

  margin-bottom: 15px;

  counter-reset: reasons-counter;
}

.reasons__item {
  position: relative;

  display: flex;
  flex-direction: column;

  width: 290px;
  padding-top: 43px;
  padding-bottom: 20px;
  margin-bottom: 21px;

  counter-increment: reasons-counter;

  &::before {
    content: counter(reasons-counter, decimal-leading-zero);
    position: absolute;
    top: 8px;
    left: 50%;
    transform: translateX(-50%);

    display: block;
    height: 36px;
    padding-right: 13px;

    font-weight: 800;
    font-size: $font-size-xxxl-large;
    line-height: 19px;

    background-image: url(../img/decor/point.svg);
    background-repeat: no-repeat;
    background-position: right 17px;
    background-size: 10px 10px;
  }
}

.reasons__item:last-child {
  margin-bottom: 0;
}

.reasons__item:last-child::before {
  display: none;
}

.reasons__item-title {
  padding-left: 24px;
  padding-right: 24px;
  margin-top: -28px;
  margin-bottom: 10px;

  font-weight: 800;
  font-size: $font-size-xxxl-large;
  line-height: 28px;
  text-transform: lowercase;
}

.reasons__text {
  margin: 0;
  margin-bottom: 22px;
}

.reasons__image-wrapper {
  width: 290px;
  overflow: hidden;
}

.reasons__img {
  display: block;
}

@media (min-width: $tablet-width) {
  .reasons {
    padding-top: 96px;
    padding-bottom: 170px;

    text-align: left;
  }

  .reasons__container::before {
    top: -96px;
    left: -1296px;

    width: 3262px;
    height: 1940px;

    border-radius: 1631px / 970px;
  }

  .reasons__title {
    width: 290px;
    margin-bottom: 20px;
    padding-left: 0;
  }

  .reasons__item {
    flex-direction: row;
    width: 720px;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 62px;

    &::before {
      top: 55px;
      left: 284px;
      transform: none;
    }
  }

  .reasons__item:first-child::after {
    content: "";
    position: absolute;
    top: 233px;
    right: 360px;
    z-index: 1;

    width: 145px;
    height: 19px;

    background-image: url("../img/decor/wave.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 145px 19px;
  }

  .reasons__item:nth-child(2)::before {
    top: 39px;
    left: 313px;
  }

  .reasons__item:nth-child(3)::before {
    top: 151px;
    left: 344px;
  }

  .reasons__item--reverse {
    flex-direction: row-reverse;
  }

  .reasons__item:nth-last-child(2) {
    margin-bottom: 53px;
  }

  .reasons__item:last-child {
    margin-bottom: 0;
  }

  .reasons__text {
    flex-grow: 1;
    margin-right: 30px;
    padding-left: 0;
    padding-right: 0;
  }

  .reasons__item:first-child .reasons__text {
    margin-top: 94px;
  }

  .reasons__item:nth-child(2) .reasons__text {
    margin-top: 89px;
  }

  .reasons__item:nth-child(3) .reasons__text {
    margin-top: 190px;
  }

  .reasons__item:last-child .reasons__text {
    margin-top: 81px;
  }

  .reasons__item--reverse .reasons__text {
    margin-left: 30px;
    margin-right: 0;
  }

  .reasons__image-wrapper {
    flex-shrink: 0;
    width: 345px;
  }

  .reasons__item:first-child .reasons__image-wrapper {
    width: 407px;
  }

  .reasons__item-title {
    position: absolute;
    top: 55px;
    left: 275px;
  }
}

@media (min-width: $desktop-width) {
  .reasons {
    padding-top: 130px;
    padding-bottom: 147px;
  }

  .reasons__container {
    &::before {
      top: -130px;
      left: -1369px;

      width: 3296px;
      height: 2094px;

      border-radius: 1648px / 1047px;
    }
  }

  .reasons__title {
    width: 420px;
    padding-top: 37px;
    padding-right: 60px;

    &::before {
      top: -69px;

      font-size: 300px;
    }
  }

  .reasons__list {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 50px;
      left: 275px;
      z-index: -1;

      width: 2px;
      height: 1133px;

      background-color: $gray;
    }

    &::after {
      content: "";
      position: absolute;
      top: 827px;
      left: 265px;
      z-index: -1;

      width: 23px;
      height: 23px;

      background-color: $blue;
      border-radius: 50%;
    }
  }

  .reasons__item {
    width: 1140px;
    margin-bottom: 86px;
  }

  .reasons__item:first-child {
    margin-top: -61px;

    &::before {
      top: 66px;
      left: 652px;
    }

    &::after {
      top: 274px;
      right: 436px;
    }
  }

  .reasons__item:nth-child(3) {
    margin-top: -146px;
    margin-bottom: 0;

    &::before {
      left: 764px;
    }
  }

  .reasons__item:nth-child(2)::before {
    left: 398px;
  }

  .reasons__item:first-child .reasons__image-wrapper {
    width: 457px;
  }

  .reasons__item:nth-child(2) .reasons__image-wrapper {
    width: 432px;
  }

  .reasons__item:nth-child(3) .reasons__image-wrapper {
    width: 343px;
  }

  .reasons__item:last-child .reasons__image-wrapper {
    width: 557px;
  }


  .reasons__text {
    padding-left: 388px;
  }

  .reasons__item--reverse .reasons__text {
    margin-left: 40px;
    padding-left: 0;
    padding-right: 255px;
  }

  .reasons__item:first-child .reasons__text {
    margin-top: 104px;
  }

  .reasons__item:last-child .reasons__text {
    margin-top: 131px;
  }

  .reasons__item:last-child .reasons__item-title {
    top: 106px;
    left: 496px;

    font-size: $font-size-xxxl-large;
    line-height: $line-height-large;
  }
}
