.reviews {
  padding-top: 70px;
  padding-bottom: 79px;
}

.reviews__container {
  display: flex;
  flex-direction: column;
}

.reviews__title {
  margin-bottom: 50px;
}

@media (min-width: $tablet-width) {
  .reviews {
    padding-top: 136px;
  }

  .reviews__title {
    margin-bottom: 64px;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    padding-top: 80px;
    padding-bottom: 117px;
  }

  .reviews__title {
    margin-bottom: 77px;
  }
}
