.slider {
  display: flex;
  flex-direction: column;
}

.slider__controls {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  margin-bottom: 15px;
}

.slider__toggle {
  width: 15px;
  height: 15px;
  padding: 0;
  margin-right: 21px;

  border: none;
  border-radius: 50%;
  background: $gray;

  cursor: pointer;
}

.slider__toggle:last-child {
  margin-right: 0;
}

.slider__toggle:hover,
.slider__toggle:focus,
.slider__toggle:active,
.slider__toggle--active {
  background-color: $link-font-color;
  box-shadow: 0 4px 10px rgba(245, 17, 24, 0.58);
}

.slider__list {
  position: relative;

  width: 290px;
  min-height: 490px;

  @include list-reset;

  margin-bottom: 18px;

  overflow: hidden;
}

.slider__item {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 290px;
  min-height: 490px;

  text-align: center;

  opacity: 0;
  transition: opacity 1s;
}

.slider__item--active {
  position: relative;
  z-index: 2;

  opacity: 1;
}

.slider__image-wrapper {
  flex-shrink: 0;

  width: 156px;
  height: 156px;
  margin-bottom: 25px;

  overflow: hidden;
}

.slider__text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 290px;
}

.slider__title {
  margin: 0;
  margin-bottom: 10px;

  font-weight: 800;
  font-size: $font-size-small;
}

.slider__text {
  width: 100%;
  margin: 0;
  margin-bottom: 8px;
}

.slider__range {
  display: none;
}

@media (min-width: $tablet-width) {
  .slider__list {
    width: 720px;
    min-height: 340px;
  }

  .slider__item {
    width: 720px;
    min-height: 340px;
    flex-direction: row;
    align-items: flex-start;

    text-align: left;
  }

  .slider__image-wrapper {
    margin-right: 30px;
  }

  .slider__text-wrapper {
    align-items: flex-start;
    width: 532px;
  }

  .slider__title {
    margin-top: -7px;
    margin-bottom: 28px;

    font-size: $font-size-medium;
  }

  .slider__text {
    margin-bottom: 11px;
  }

  .slider__controls {
    display: none;
  }

  .slider__range {
    display: flex;
    width: 100%;
  }
}
