.socials {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 192px;
  padding-top: 5px;
  padding-left: 0;
  margin: 0;
  margin-bottom: 12px;

  list-style: none;
}

.socials__item {
  display: flex;
  margin-right: 22px;
  margin-bottom: 10px;
}

.socials__item:last-child {
  margin-right: 0;
}

.socials__link {
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
}

.socials__icon {
  fill-opacity: 0.18;
}

.socials__link:hover .socials__icon,
.socials__link:focus .socials__icon {
  fill-opacity: 1;
}

@media (min-width: $tablet-width) {
  .socials {
    margin-bottom: 3px;
  }
}
