.teachers__container {
  display: flex;
  flex-direction: column;
}

.teachers__title {
  margin-bottom: 27px;
}

.teachers__list {
  display: flex;
  flex-direction: column;

  @include list-reset;
}

.teachers__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 41px;
}

.teachers__image-wrapper {
  width: 285px;
  margin-bottom: 16px;

  overflow: hidden;
}

.teachers__image {
  display: block;
  width: 285px;
}

.teachers__item-title {
  margin: 0;
  margin-bottom: 5px;

  font-weight: 800;
  font-size: $font-size-x-small;
  line-height: $line-height-large;
}

.teachers__text {
  margin: 0;
}

@media (min-width: $tablet-width) {
  .teachers__container {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 583px;
      right: -402px;
      z-index: -1;

      width: 433px;
      height: 433px;

      border: 76px solid #f5f5f5;
      border-radius: 50%;
    }

    &::after {
      content: "";
      position: absolute;
      top: 824px;
      right: -6px;
      z-index: -1;

      width: 66px;
      height: 34px;

      background-image: url("../img/decor/wave3.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: 66px 34px;
    }
  }
  .teachers__title {
    margin-bottom: 51px;
  }

  .teachers__list {
    position: relative;

    flex-direction: row;
    flex-wrap: wrap;
    margin-right: -30px;

    &::before {
      content: "";
      position: absolute;
      top: 156px;
      left: -271px;
      z-index: -1;

      width: 1300px;
      height: 2px;

      background-color: $gray;
    }

    &::after {
      content: "";
      position: absolute;
      top: 145px;
      left: -149px;
      z-index: -1;

      width: 23px;
      height: 23px;

      background-color: $blue;
      border-radius: 50%;
    }
  }

  .teachers__item {
    width: 345px;
    margin-right: 30px;
  }

  .teachers__image-wrapper {
    width: 345px;
    margin-bottom: 26px;
  }

  .teachers__image {
    width: 344px;
  }

  .teachers__item-title {
    margin-bottom: 7px;

    font-size: $font-size-medium;
    line-height: $line-height-large;
  }

  .teachers__text {
    font-size: $font-size-x-small;
    line-height: $line-height-medium;
  }

  .teachers__text br {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .teachers__container::before {
    top: -46px;
    right: -217px;
  }

  .teachers__container::after {
    top: 257px;
    right: -221px;
  }

  .teachers__title {
    margin-bottom: 47px;
  }

  .teachers__list::before {
    top: 166px;
    left: -392px;

    width: 1416px;
  }

  .teachers__list::after {
    top: 156px;
    left: -150px;
  }

  .teachers__item {
    width: 360px;
  }

  .teachers__image-wrapper {
    width: 360px;
  }

  .teachers__image {
    width: 360px;
  }
}
