.wrapper {
  min-width: 320px;
  max-width: $tablet-width;
  overflow: hidden;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .wrapper {
    min-width: $tablet-width;
    max-width: 1300px;
  }
}

@media (min-width: $desktop-width) {
  .wrapper {
    min-width: $desktop-width;
    max-width: 1920px;
  }
}
